<div id="<%= dom_id comment %>">
  <p>
    <strong>名前:</strong>
    <%= comment.user_name %>
  </p>

  <p>
    <strong>素敵なコメントを書いてね:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>コメントをするIdea:</strong>
    <%= comment.idea_id %>
  </p>

</div>
